# SpaceX EDX SQL Server

## Objectives
Writing and executing SQL queries to solve the questions being asked

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in d:\anaconda_inc\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in d:\anaconda_inc\lib\site-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in d:\anaconda_inc\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in d:\anaconda_inc\lib\site-packages (from ibm_db_sa) (3.0.4)

## Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://jnv46049:E4lqzFwyCWZwWAIh@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb?security=SSL

Display the names of the unique launch sites in the space mission

In [4]:
%sql select distinct(LAUNCH_SITE) FROM SPACEXDATASET

 * ibm_db_sa://jnv46049:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('CCAFS LC-40',),
 ('CCAFS SLC-40',),
 ('CCAFSSLC-40',),
 ('KSC LC-39A',),
 ('VAFB SLC-4E',)]

Display 5 records where launch sites begin with the string 'CCA'

In [5]:
%sql SELECT * FROM SPACEXDATASET WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5

 * ibm_db_sa://jnv46049:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

Display the total payload mass carried by boosters launched by NASA (CRS)

In [6]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) AS TOTAL FROM SPACEXDATASET WHERE CUSTOMER LIKE 'NASA (CRS)'

 * ibm_db_sa://jnv46049:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(45596,)]

Display average payload mass carried by booster version F9 v1.1

In [7]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) AVG_OF_F9V1_1 FROM SPACEXDATASET WHERE BOOSTER_VERSION LIKE 'F9 v1.1%'

 * ibm_db_sa://jnv46049:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(2534,)]

List the date when the first succesful landing outcome in ground pad was acheived.

In [8]:
%sql SELECT MIN(DATE) FROM SPACEXDATASET WHERE LANDING__OUTCOME LIKE 'Success (ground pad)'

 * ibm_db_sa://jnv46049:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(datetime.date(2015, 12, 22),)]

List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [9]:
%sql SELECT BOOSTER_VERSION FROM SPACEXDATASET WHERE LANDING__OUTCOME LIKE 'Success (drone ship)' AND (PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000)

 * ibm_db_sa://jnv46049:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

List the total number of successful and failure mission outcomes

In [10]:
%sql SELECT MISSION_OUTCOME, COUNT(*) FROM SPACEXDATASET GROUP BY MISSION_OUTCOME ORDER BY 2 DESC

 * ibm_db_sa://jnv46049:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('Success', 99),
 ('Failure (in flight)', 1),
 ('Success (payload status unclear)', 1)]

List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [11]:
%sql SELECT BOOSTER_VERSION, PAYLOAD_MASS__KG_ FROM SPACEXDATASET ORDER BY 2 DESC LIMIT 5

 * ibm_db_sa://jnv46049:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1049.4', 15600)]